* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
header {
    height: 200px;
    background-color: yellow;
    margin-bottom: 10px;
    position: relative;
}
.barra-top {
    width: 80vw;
    height: 40px;
    background-color: darkgreen;
    position: absolute; bottom: 0;
}
ul {
    text-align: center;
}
li {
    margin-top: 8px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    display: inline;
    line-height: 35px;
}
.row {
    height: 500px;
    background-color: white;
}
aside {
    height: 100%;
    width: 25%;
    background-color: mediumorchid;
    float: left;
}
main {
    height: 100%;
    width: 50%;
    float: left;
    padding: 0 10px;
}
main .content {
    height: 100%;
    background-color: purple;
}
footer {
    height: 100px;
    margin-top: 10px;
    background-color: powderblue;
}
